* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  background-color: #f9fafb;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.main.dark {
  background-color: black;
}

.switchbox {
  background-color: white;
  height: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switchbox:hover {
  cursor: pointer;
}

.switchbox.dark {
  background-color: #141414;
  color: white;
  border: 2px solid #11e0f3;
  box-shadow: 0 2px 10px #64dce7;
}

.switch {
  background-color: rgb(211, 208, 208);
  height: 20px;
  width: 20px;
  margin-left: 0.8rem;
  border-radius: 10px;
}

.switch.on {
  background-color: #11e0f3;
}

.switch.on:hover {
  background-color: #11e0f3;
}

.switch:hover {
  cursor: pointer;
  background-color: rgb(189, 187, 187);
}

.credit {
  margin-top: 20px;
  color: rgb(172, 168, 168);
}

.container {
  background-color: white;
  margin: 30px 5px 5px 5px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.container.dark {
  background-color: #141414;
  box-shadow: 0 2px 10px rgba(27, 26, 26, 0.3);
}

.input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 15px;
  margin: 5px 0 15px 0;
  font-size: 14px;
}

.input:focus {
  outline: 0;
}

.input.dark {
  background-color: black;
  border: black;
  color: white;
}

.row {
  display: flex;
}

.row > div {
  height: 50px;
  display: flex;
  width: 100%;
  margin: 10px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.sym.equal {
  background-color: rgb(11, 175, 11);
  color: white;
}

.sym.divide {
  background-color: rgb(5, 172, 172);
  color: white;
}
.sym.multiply {
  background-color: rgb(248, 152, 7);
  color: white;
}
.sym.subtract {
  background-color: rgb(152, 95, 204);
  color: white;
}
.sym.add {
  background-color: rgb(7, 131, 248);
  color: white;
}

.sym.equal:hover {
  cursor: pointer;
  background-color: rgb(9, 155, 9);
}
.num:hover {
  background-color: #e6e7e9f3;
  cursor: pointer;
}

.num.dark:hover {
  background-color: rgb(219, 216, 216);
  color: black;
}

.sym:hover {
  cursor: pointer;
}

.C {
  background-color: rgb(211, 208, 208);
  color: black;
}

.C.dark {
  background-color: #313131;
  color: rgb(226, 224, 224);
}

.D.dark {
  background-color: #313131;
  color: rgb(226, 224, 224);
}

.per.dark {
  background-color: #313131;
  color: rgb(226, 224, 224);
}

.D {
  background-color: rgb(211, 208, 208);
  color: black;
}

.per {
  background-color: rgb(211, 208, 208);
  color: black;
}

.num.dark {
  color: white;
}
