@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --main_color1: #f9fafb;
  --main_color2: white;
  --gray: rgb(165, 164, 164);
  --text_color: black;
  --switch_shadow: rgba(0, 0, 0, 0.3);
  --first_row: rgb(211, 208, 208);
  --switch_border: none;
  --hover_text: black;

  /* --main_color1: black;
  --main_color2: #141414;
  --gray: rgb(165, 164, 164);
  --text_color: white;
  --switch_shadow: #64dce7;
  --first_row: #313131;
  --switch_border: 2px solid #11e0f3; */
}

.main {
  background-color: var(--main_color1);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

p {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.switchbox {
  background-color: var(--main_color2);
  color: var(--text_color);
  height: 50px;
  box-shadow: 0 2px 10px var(--switch_shadow);
  border-radius: 5px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--switch_border);
}

.switchbox:hover {
  cursor: pointer;
}

.credit {
  margin-top: 20px;
  color: var(--gray);
  font-family: "Barlow", sans-serif;
}

.container {
  background-color: var(--main_color2);
  margin: 30px 5px 5px 5px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.input {
  border: 2px solid var(--main_color1);
  background-color: var(--main_color1);
  color: var(--text_color);
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 15px;
  margin: 5px 0 15px 0;
  font-size: 14px;
}

.input:focus {
  outline: 0;
}

.row {
  display: flex;
}

.row > div {
  height: 50px;
  display: flex;
  width: 100%;
  margin: 10px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.sym.equal {
  background-color: rgb(11, 175, 11);
  color: white;
}

.sym.divide {
  background-color: rgb(5, 172, 172);
  color: white;
}
.sym.multiply {
  background-color: rgb(248, 152, 7);
  color: white;
}
.sym.subtract {
  background-color: rgb(152, 95, 204);
  color: white;
}
.sym.add {
  background-color: rgb(7, 131, 248);
  color: white;
}

.sym.equal:hover {
  cursor: pointer;
  background-color: rgb(9, 155, 9);
}

.num,
.sym {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.num:hover {
  background-color: #e6e7e9f3;
  cursor: pointer;
  color: var(--hover_text);
}

.sym:hover {
  cursor: pointer;
}

.C {
  background-color: var(--first_row);
  color: black;
}

.D {
  background-color: var(--first_row);
  color: black;
}

.dot {
  background-color: var(--first_row);
  color: black;
}

.num,
.C,
.D,
.dot {
  color: var(--text_color);
}
